

h1{

margin: 0;
font-family: "Sacramento" ;
font-style: italic;
font-size: 90px;
color: #66BFBF;
}
body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather";
  color: #40514e;
}
h2{
  font-size: 40px;
  color: Black;
  font-weight: normal;
  line-height: 4px;
  font-family: "Merriweather";

}
h3{

  font-size: 30px;
  color: #11999E;
  font-weight: normal;
  margin: 0;
  padding-bottom: 20px;
  font-family: "Merriweather";

}
td{
  text-align: left;
  margin: 0;
  font-family: "Merriweather";
}
hr{
  border-style: none;
  border-top: Dotted;
  border-color: Grey;
  border-width:5px;
  width: 20%;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 30px;
}
table{
  margin: 0;
}
p{
  margin: 0;
  text-align: center;
}
a{
  color: black;
  font-family: "Montserrat";
  text-decoration: none;
  padding: 20px;

}
a:hover{
  color: #eaf6f6;
}
.Top-Container{
background-color: #e4f4f9;
}
.cloud1{
position: absolute;
right: 350px;
top:50px;

}
.mountain {
position: relative;
bottom: 10px;

}
.cloud2{
  position: absolute;
left: 350px;
top: 370px;
}
.heading{
  position: relative;
  padding-top: 150px;
}

.center{

  margin: 0 auto;

}
.computerimg{
  height: 15%;
  width: 15%;
  float: left;
  position: relative;
top: 50px;
  left: 200px;
}
.skillrow{
  margin: 100px auto 100px auto;
  line-height: 2;
}
.middle-container{
  background: #e4f4f9;
  margin: 0;
}
.profilepic{
  position: absolute;
  left: 0;
  top: 0;
}
.contact-me{
  background-color: #e4f4f9;
  margin: 0;
  font-family: "Merriweather";
}
.skill-row{
  margin: 0;
}
.bottom-container{
  background-color: #599bb3;

  padding: 20px;
}
.summary{
  width: 50%;
margin: auto;

}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-bottom: 10px;
  margin-top: 20px;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #e4f4f9;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  margin: auto;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
table.blueTable1 {

  background-color: #e4f4f9;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  margin: auto;
}
table.blueTable1 td, table.blueTable th {

  padding: 3px 2px;
}
table.blueTable1 tbody td {
  font-size: 13px;
}
table.blueTable1 tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable1 thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);

}
table.blueTable1 thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable1 thead th:first-child {
  border-left: none;
}

table.blueTable1 tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  
}
table.blueTable1 tfoot td {
  font-size: 14px;
}
table.blueTable1 tfoot .links {
  text-align: right;
}
table.blueTable1 tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
